



<footer class="page-footer blue-grey darken-3">
<div class="container">



  <!-- tap target -->
  <!-- <div class="tap&#45;target blue&#45;grey" data&#45;activates="menu"> -->
  <!--   <div class="tap&#45;target&#45;content"> -->
  <!--     <h5 class="white&#45;text center">Social Media</h5> -->
  <!--     <p class="white&#45;text center "><img src="../assets/git.png">Github</p> -->
  <!--     <p class="white&#45;text center"><img src="../assets/linkedin.png">Linkedin</p> -->
  <!--     <p class="white&#45;text center"><img src="../assets/facebook.png">Facebook</p> -->
  <!--   </div> -->
  <!-- </div> -->
  <!--  -->


  <div class="row">
    <div class="col l6 s12">
      <!-- content here -->
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text center">Social Media
      </h5>
        <!-- <a id="menu" class="waves&#45;effect waves&#45;light btn btn&#45;floating right pulse" (click)="openDisco()" ><i class="material&#38;#45;icons">menu</i></a> -->




        <div class="fixed-action-btn toolbar">
          <a   class="btn-floating btn-large pulse">
            <i class="large material-icons">menu</i>
          </a>
          <ul>
            <li class="waves-effect waves-light"><a href="https://www.github.com/kelber" target="_blank"><img src="../assets/git.png">GitHub</a></li>
            <li class="waves-effect waves-light">
              <a href="https://www.linkedin.com/in/kelberstuchi" target="_blank"><img src="../assets/linkedin.png">Linkedin</a></li>
            <li class="waves-effect waves-light"><a href="https://www.facebook.com/kelber.stuchi" target="_blank"><img src="../assets/facebook.png">Facebook</a></li>
          </ul>

        </div>







      <div class="container grey-text">© 2017 Made with love and @angular v4 </div>

      <br>
      <br>


      <!-- col l4 -->
    </div>

<!--  -->
<!--       <ul> -->
<!--  <li><a class="grey&#45;text text&#45;lighten&#45;3 " href="#!">Linkedin</a></li> -->
<!--  <br> -->
<!--  -->
<!--         <li><a class="grey&#45;text text&#45;lighten&#45;3" href="#!">Facebook</a></li> -->
<!--       </ul> -->
<!--  -->
<!--  -->
    <!-- </div> -->
  </div>
</div>






  <!-- <div class="container grey&#45;text"> -->
  <!--   © 2017 Made with love and @angular v4 -->
  <!-- </div> -->



</footer>

