
<div id="lprocess" class="section scrollspy">





  <h4 class="center-align blue-grey-text " >{{ 'webdevelopment.learning' | translate }} </h4>

  <ul class="collapsible z-depth-2 hoverable" data-collapsible="accordion">
    <li>
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>
      {{ 'webdevelopment.learning' | translate }}
    </div>
      <div class="collapsible-body">

        <table class="bordered striped responsible-table centered">
          <thead>
            <tr>
              <th>{{ 'webdevelopment.learntable.knowledge' | translate }} </th>
              <th></th>
              <th>%</th>
              <th>{{ 'webdevelopment.learntable.progress' | translate }} </th>
            </tr>
          </thead>

          <tbody>
           <tr>
              <td>Ionic 2</td>
              <td class="tableprogress">
                <div class="progress z-depth-2">
                  <div class="determinate" style="width: 25%"></div>
                  25%
                </div>
              </td>
              <td>25%</td>
              <td><a class="btn green white-text learningBtn hide-on-small-only" >
                  {{ 'webdevelopment.learntable.btnProgress' | translate }}

                </a>
              </td>
            </tr>


            <tr>
              <td>Angular4<br>update version</td>
              <td class="tableprogress">
                <div class="progress z-depth-2">
                  <div class="determinate" style="width: 100%"></div>
                  100%
                </div>
              </td>
              <td>100%</td>
              <td><a class="btn green white-text learningBtn hide-on-small-only" >
                  {{ 'webdevelopment.learntable.btnProgress' | translate }}

                </a>
              </td>
            </tr>

            <tr>
              <td>Firebase Storage</td>
              <td class="tableprogress">
                <div class="progress">
                  <div class="determinate"  style="width: 10%"></div>
                </div>
              </td>
              <td>10%</td>
              <td><a class="btn grey white-text hide-on-small-only" >
                  {{ 'webdevelopment.learntable.btnNext' | translate }}
                </a>
              </td>
            </tr>

            <tr>
              <td>D3.js library</td>
              <td class="tableprogress">
                <div class="progress">
                  <div class="determinate" style="width: 40%"></div>
                  20%
                </div>
              </td>
              <td>40%</td>
              <td><a class="btn grey white-text hide-on-small-only " >
                  {{ 'webdevelopment.learntable.btnNext' | translate }}
                </a>
              </td>
            </tr>

          </tbody>
        </table>
        <!-- close collapse body -->
      </div>
    </li>
    </ul>
</div>




<div id="wdevelopment" class="section scrollspy">

  <h4 class="center-align blue-grey-text " > {{ 'webdevelopment.wdevelopment' | translate }} </h4>



<ul class="collapsible hoverable" data-collapsible="accordion">
<li>
  <div id="collapse" class="collapsible-header active"><i class="material-icons">filter_drama</i>{{ 'webdevelopment.web.angular' | translate   }} </div>
  <div class="collapsible-body valign-wrapper">
    <span>
      <a class="waves-effect waves-light btn-sm valign"> {{ 'webdevelopment.web.since'  | translate }} 2016 </a>

      {{ 'webdevelopment.web.ad' | translate }}
      <br>
      {{ 'webdevelopment.web.ad2' | translate }}
    </span>
    <hr>
    <span>
      <strong>ngModule</strong>
         <br>
         Pipes and Pipes | async
         <br>
         @angular/router
         <br>
         RouterModule
         <br>
         Routes, Router , and ActivatedRoute
         <br>
         ChildRoutes
         <br>
          Lazy Loading
          <br>
          RouteGuards
          <br>
          CanActivate
          <br>
          CanDeactivate
          <br>
          CanLoad
          <br>
          QueryParams*
          <br>
          ngIf, ngFor Else and Then for A4
          <br>
          Validators
          <hr>
          <strong>AngularForms</strong>
          <br>
          ReactiveForms - (Model Driven)
          <br>
    </span>





    <!-- close body -->
    </div>
</li>
<li>
  <div class="collapsible-header"><i class="material-icons">place</i>Ruby on Rails</div>
  <div class="collapsible-body">
    <span>
      <a>{{ 'webdevelopment.web.ror' | translate }} 2016 </a>
     </span>
  </div>
</li>
<li>
  <div class="collapsible-header"><i class="material-icons">whatshot</i>
      {{ 'webdevelopment.web.compt' | translate }}
  </div>
  <div class="collapsible-body">
              <span>
                NodeJS - Basic level
                <br>
                Html + Css + JQuery
                <br>
                PHP - Intermediary level
                <br>
                Sass
                Git
                <br>

                <strong>MongoDB</strong>
              </span>
  </div>
</li>
</ul>


<!-- close wdevelopment -->
</div>



<div id="mba" class="section scrollspy">


  <h4 class="center-align blue-grey-text " > {{ 'webdevelopment.mba' | translate }} </h4>
  <ul class="collapsible hoverable" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>
        {{ 'webdevelopment.pos.posTitle' | translate }}

      </div>
      <div class="collapsible-body">
        <span>
          <strong>
        {{ 'webdevelopment.pos.school' | translate }}
          </strong>
          <br>
        {{ 'webdevelopment.pos.course' | translate }}
          <br>
        {{ 'webdevelopment.pos.course2pos' | translate }}
          <br>
          <span class="grey-text">2001 - 2003 </span>
          <br>
          <br>

        </span>

        <div class="divider"></div>
        <br>
        <span>
          <strong>
            {{ 'webdevelopment.adm.school2' | translate }}
          </strong>
          <br>
            {{ 'webdevelopment.adm.course2' | translate }}
          <br>
          <span class="grey-text">1997 - 2001 </span>
        </span>
        <br>
        <br>

        <div class="divider"></div>
        <br>
        <span>
          <strong>
            {{ 'webdevelopment.adm.school3' | translate }}
          </strong>
          <br>
          <span class="grey-text">1989 - 2000 </span>

        </span>
        <br>
        <br>



      </div>
    </li>
  </ul>







  <!-- end mba -->
</div>

