


<nav class="animated bounceInDown blue-grey darken-3 z-depth-0">

<!--  -->
<!-- <div class="nav&#45;wrapper valign&#45;wrapper blue&#45;grey darken&#45;3 "> -->
<!--     <a id="logo" class="waves&#45;effect waves&#45;light btn blue darken&#45;2 valign">KS</a> -->
<!--   </div> -->
<!--   <a id="logo" class="waves&#45;effect waves&#45;light btn blue darken&#45;3" [routerLink]="['']">KS</a> -->
<!--  -->
<div class="nav-wrapper ">
  <a id="logo" class="waves-effect waves-light btn blue darken-3" [routerLink]="['']">KS</a>
</div>


</nav>
<br>
<br>
<br>
<br>

<div class="row animated bounceInDown">
  <div class="col s12 m4 l4"></div>
  <div class="col s12 m4 l4">
    <div class="center-align">
  <!-- <a id="logo" class="waves&#45;effect animated bounce waves&#45;light btn blue darken&#45;2">KS</a> -->
  <!--  -->

  <a id="ks" class="waves-effect waves-light btn-large blue darken-3" [routerLink]="['']">KS</a>
  <!-- <h3 class="blue&#45;grey&#45;text darken&#45;4" >KS</h3> -->

  <br>
  <br>


  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  </div>
  </div>
  <div class="col s12 m4 l4"></div>
</div>


