
<!-- <div class="fixed"> -->
  <div class="row">
    <!-- <div class="fixed"> -->
    <app-navbar></app-navbar>
<!-- </div> -->

<div class="animated bounceInDown">

  <app-message></app-message>
<!-- </div> -->
</div>




<!-- pagina -->
<div class="row">


  <!-- left area -->
  <!-- <div class="col s12 m4 l3"> -->

    <div class="col s12 l3">
      <div class="fixed">
  <app-leftcard></app-leftcard>
      </div>
  <!-- close left area -->
  </div>
  <!-- </div> -->











    <!-- CENTER AREA -->


    <div class="col s12 l6">
    <!-- <div class="card yellow "> -->
    <!-- <p class="white&#45;text">CARD 2</p> -->
    <!-- </div> -->
    <!--  -->
      <app-webdevelopment></app-webdevelopment>



  <!-- close center area -->
  </div>




  <!-- RIGHT ESTA CERTO -->
  <div class="col s12 l3">
    <!-- right area -->
    <app-rightcard></app-rightcard>
  <!-- close right area -->
  </div>




</div>






<!-- close bounce -->
</div>



<div class="row">



<br>
<br>
<br>
<br>
<app-footer></app-footer>



</div>


